body {
    width: 100%;
}

.form-element {
    margin-bottom: 20px;
}

.center-container {
    text-align: center;
}

.form-container {
    margin: 50px auto;
    width: 20%;
}

.textbox-container {
    display: flex;
}

.left-textbox {
    margin-right: 5%;
}
