@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        @if (!(User.IsInRole(RolesConstants.EMPLOYEE) 
             || User.IsInRole(RolesConstants.ADMIN)))
        {
        <li class="nav-item"> @*todo: manage account*@
            @Html.ActionLink("My orders", "List", "Order", routeValues: null, htmlAttributes: new { title = "Orders", @class = "nav-link" })
        </li>
        }
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
